<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp tables">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Name</th>
    <th>Projections</th>
    <th>Team</th>
    <th>Salary</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="lineup.team.QB">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.QB.name}}</td>
      <td>{{lineup.team.QB.projections}}</td>
      <td>{{lineup.team.QB.data.Team}}</td>
      <td>{{lineup.team.QB.salary}}</td>
    </tr>
    <tr *ngIf="lineup.team.RB1">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.RB1.name}}</td>
      <td>{{lineup.team.RB1.projections}}</td>
      <td>{{lineup.team.RB1.data.Team}}</td>
      <td>{{lineup.team.RB1.salary}}</td>
    </tr>
    <tr *ngIf="lineup.team.RB2">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.RB2.name}}</td>
      <td>{{lineup.team.RB2.projections}}</td>
      <td>{{lineup.team.RB2.data.Team}}</td>
      <td>{{lineup.team.RB2.salary}}</td>
    </tr>
    <tr *ngIf="lineup.team.WR1">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.WR1.name}}</td>
      <td>{{lineup.team.WR1.projections}}</td>
      <td>{{lineup.team.WR1.data.Team}}</td>
      <td>{{lineup.team.WR1.salary}}</td>
    </tr>
    <tr *ngIf="lineup.team.WR2">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.WR2.name}}</td>
      <td>{{lineup.team.WR2.projections}}</td>
      <td>{{lineup.team.WR2.data.Team}}</td>
      <td>{{lineup.team.WR2.salary}}</td>
    </tr>
    <tr *ngIf="lineup.team.WR3">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.WR3.name}}</td>
      <td>{{lineup.team.WR3.projections}}</td>
      <td>{{lineup.team.WR3.data.Team}}</td>
      <td>{{lineup.team.WR3.salary}}</td>
    </tr>
    <tr *ngIf="lineup.team.TE">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.TE.name}}</td>
      <td>{{lineup.team.TE.projections}}</td>
      <td>{{lineup.team.TE.data.Team}}</td>
      <td>{{lineup.team.TE.salary}}</td>
    </tr>
    <tr *ngIf="lineup.team.FLEX">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.FLEX.name}}</td>
      <td>{{lineup.team.FLEX.projections}}</td>
      <td>{{lineup.team.FLEX.data.Team}}</td>
      <td>{{lineup.team.FLEX.salary}}</td>
    </tr>
    <tr *ngIf="lineup.team.DEF">
      <td class="mdl-data-table__cell--non-numeric">{{lineup.team.DEF.name}}</td>
      <td>{{lineup.team.DEF.projections}}</td>
      <td>{{lineup.team.DEF.data.Team}}</td>
      <td>{{lineup.team.DEF.salary}}</td>
    </tr>
    <!--<tr player-row [player]="lineup.team.QB" *ngIf="lineup.team.QB"></tr>-->
    <!--<tr player-row [player]="lineup.team.RB1" *ngIf="lineup.team.RB1"></tr>-->
    <!--<tr player-row [player]="lineup.team.RB2" *ngIf="lineup.team.RB2"></tr>-->
    <!--<tr player-row [player]="lineup.team.WR1" *ngIf="lineup.team.WR1"></tr>-->
    <!--<tr player-row [player]="lineup.team.WR2" *ngIf="lineup.team.WR2"></tr>-->
    <!--<tr player-row [player]="lineup.team.WR3" *ngIf="lineup.team.WR3"></tr>-->
    <!--<tr player-row [player]="lineup.team.TE" *ngIf="lineup.team.TE"></tr>-->
    <!--<tr player-row [player]="lineup.team.FLEX" *ngIf="lineup.team.FLEX"></tr>-->
    <!--<tr player-row [player]="lineup.team.DEF" *ngIf="lineup.team.DEF"></tr>-->
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"></td>
    <td class="mdl-data-table__cell--non-numeric">Total Projected:</td>
    <td>{{lineup.points | number : '1.0-2'}}</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td class="mdl-data-table__cell--non-numeric">Total Salary:</td>
    <td><b>{{lineup.salary}}</b></td>
  </tr>
  </tfoot>
</table>
