.player td:first-child {
  padding: 0;
}

.player td:first-child > div {
  display: inline-block;
  vertical-align: top;
}

.player td:first-child img {
  height: 70px;
  margin-right: 10px;
  margin-bottom: -3px;
}

.player .info {
  padding: 15px 0;
}

.player .info .name, .player .info .position {
  display: inline-block;
  font-size: 16px;
}
