{{removedPlayers}}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp extra-padding">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Name</th>
    <th>Projections</th>
    <th>FPPG</th>
    <th>Opp Rank</th>
    <th>OPRK</th>
    <th>Pts/Sal</th>
    <th>Floor</th>
    <th>Ceiling</th>
    <th>Game</th>
    <th>Salary</th>
  </tr>
  </thead>
  <tbody>
    <tr player-row *ngFor="let p of players" [player]="p" [removedPlayers]="removedPlayers"></tr>
  </tbody>
</table>
