<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <mat-icon>home</mat-icon>
</mat-toolbar>
<div class="padding">
  <div class="padding filters">
    <mat-grid-list cols="5" rowHeight="50px">
      <mat-grid-tile>
        <div class="label">Opponent Position Rank</div>
        <div>
          <mat-slider min="1" max="32" [value]="filters.oprk" (input)="updateFilter($event, 'oprk')"
                      (change)="getPlayers($event)"></mat-slider>
          {{filters.oprk}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="label">Opponent Rank</div>
        <div>
          <mat-slider min="1" max="32" [value]="filters.ork" (input)="updateFilter($event, 'ork')"
                      (change)="getPlayers($event)"></mat-slider>
          {{filters.ork}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="label">Projections</div>
        <div>
          <mat-slider min="0" max="15" step="0.5" [value]="filters.proj" (input)="updateFilter($event, 'proj')"
                      (change)="getPlayers($event)"></mat-slider>
          {{filters.proj}}
        </div>
      </mat-grid-tile>
      <!--<mat-grid-tile colspan="2">-->
        <!--<div class="label">Fade Games</div>-->
        <!--<div>-->
          <!--<mat-form-field>-->
            <!--<mat-chip-list #chipList>-->
              <!--<mat-chip *ngFor="let fruit of fruits">-->
                <!--{{fruit.name}}-->
                <!--<mat-icon matChipRemove>cancel</mat-icon>-->
              <!--</mat-chip>-->
              <!--<input placeholder="New fruit..."-->
                     <!--[matChipInputFor]="chipList"/>-->
            <!--</mat-chip-list>-->
          <!--</mat-form-field>-->
        <!--</div>-->
      <!--</mat-grid-tile>-->
    </mat-grid-list>

    <div class="button-container">
      <button mat-raised-button color="accent" (click)="generateLineup()">Generate Lineup</button>
    </div>
    <ul class="padding">
      <li class="btn btn-switcher selected" (click)="changePositionFilter('All')">All</li>
      <li class="btn btn-switcher" (click)="changePositionFilter('QB')">QB</li>
      <li class="btn btn-switcher" (click)="changePositionFilter('RB')">RB</li>
      <li class="btn btn-switcher" (click)="changePositionFilter('WR')">WR</li>
      <li class="btn btn-switcher" (click)="changePositionFilter('TE')">TE</li>
      <li class="btn btn-switcher" (click)="changePositionFilter('FLEX')">FLEX</li>
      <li class="btn btn-switcher" (click)="changePositionFilter('DEF')">DEF</li>
    </ul>
  </div>

  <mat-grid-list cols="3" rowHeight="1:2">
    <mat-grid-tile [ngClass]="{'dont-center': players}" colspan="2">
      <mat-spinner *ngIf="!players"></mat-spinner>
      <players [players]="players | PlayerPosition: positionFilter" *ngIf="players" [removedPlayers]="filters.removedPlayers"></players>
    </mat-grid-tile>
    <mat-grid-tile [ngClass]="{'dont-center': lineup}">
      <lineup [lineup]="lineup" *ngIf="lineup"></lineup>
    </mat-grid-tile>
  </mat-grid-list>
</div>

