.player {
  padding: 0 !important;
}

.player > div {
  display: inline-block;
  vertical-align: top;
}

.player img {
  height: 70px;
  margin-right: 10px;
  margin-bottom: -3px;
}

.player .info {
  padding: 4px 0;
  .icons {
    padding-top: 3px;
    .mat-icon {
      cursor: pointer;
      color: #95a5a6;
      font-size: 18px;
      margin-right: -4px;
    }
  }
}

.player .info .name, .player .info .position {
  display: inline-block;
  font-size: 16px;
}
