<td class="mdl-data-table__cell--non-numeric player">
  <div>
    <img src="http://static.fantasydata.com/headshots/nfl/low-res/{{player.id}}.png"
         onError="this.src='http://static.fantasydata.com/headshots/nfl/low-res/0.png';">
  </div>
  <div class="info">
    <div class="position">{{player.position}}</div>
    <div class="name">{{player.name}}</div>
    <div class="status">{{player.data.Status}}</div>
    <div class="icons">
      <mat-icon>star</mat-icon>
      <mat-icon>lock</mat-icon>
      <mat-icon (click)="removePlayer(player.id)" [ngClass]="{'red': removedPlayers.indexOf(player.id) > -1}">cancel</mat-icon>
    </div>
  </div>
</td>
<td>{{player.projections}}</td>
<td>{{player.points}}</td>
<td>{{player.ork}}</td>
<td>{{player.oprk}}</td>
<td>{{player.cpp | number : '1.0-2'}}</td>
<td>{{player.floor}}</td>
<td>{{player.ceil}}</td>
<td [innerHTML]="gameDetails(player.data)"></td>
<td>{{player.salary | currency : 'USD' : true : '1.0-0'}}</td>
