/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import url("https://fonts.googleapis.com/css?family=Roboto");*/

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  background: #ecf0f1;
}

.mdl-data-table {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}

.mdl-data-table thead {
  padding-bottom: 3px;
}

.mdl-data-table thead .mdl-data-table__select {
  margin-top: 0;
}

.mdl-data-table tbody tr {
  position: relative;
  height: 48px;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.mdl-data-table tbody tr.is-selected {
  background-color: #e0e0e0;
}

.mdl-data-table tbody tr:hover {
  background-color: #eeeeee;
}

.mdl-data-table td, .mdl-data-table th {
  padding: 0 6px 0px 6px;
  text-align: right;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
  padding-left: 24px;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
  padding-right: 24px;
}

.mdl-data-table td {
  position: relative;
  vertical-align: middle;
  height: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 12px;
  box-sizing: border-box;
  font-size: 14px;
}

.mdl-data-table td .mdl-data-table__select {
  vertical-align: middle;
}

.mdl-data-table th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 8px;
  box-sizing: border-box;
}

.mdl-data-table th.mdl-data-table__header--sorted-ascending, .mdl-data-table th.mdl-data-table__header--sorted-descending {
  color: rgba(0, 0, 0, 0.87);
}

.mdl-data-table th.mdl-data-table__header--sorted-ascending:before, .mdl-data-table th.mdl-data-table__header--sorted-descending:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  content: "\e5d8";
  margin-right: 5px;
  vertical-align: sub;
}

.mdl-data-table th.mdl-data-table__header--sorted-ascending:hover, .mdl-data-table th.mdl-data-table__header--sorted-descending:hover {
  cursor: pointer;
}

.mdl-data-table th.mdl-data-table__header--sorted-ascending:hover:before, .mdl-data-table th.mdl-data-table__header--sorted-descending:hover:before {
  color: rgba(0, 0, 0, 0.26);
}

.mdl-data-table th.mdl-data-table__header--sorted-descending:before {
  content: "\e5db";
}

.mdl-data-table__select {
  width: 16px;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
  text-align: left;
}

.dont-center.mat-grid-tile .mat-figure {
  display: block !important;
  overflow-y: scroll;
  padding: 0 16px;
}

.padding {
  padding: 8px;
}

.filters {
  .mat-grid-tile .mat-figure {
    display: block !important;
    .label {
      font-size: 14px;
      margin-left: 8px;
      margin-bottom: -12px;
    }
    mat-slider {
      width: 80%;
    }
    mat-form-field {
      width: 100%;
    }
  }
  .button-container {
    width: 99%;
    text-align: right;
  }
}

.no-padding {
  padding: 0 !important;
}

//Grouped Buttons
.btn {
  padding: 12px 20px;
  margin: 0;
  vertical-align: middle;
  border: solid 1px #ccc;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-switcher {
  background: linear-gradient(to bottom, white, #eeeeee);
  display: table-cell;
  border-right: none;
  border-radius: 0;
  color: #433f33;
}

.btn-switcher:first-child {
  border-radius: 4px 0 0 4px;
}

.btn-switcher:last-child {
  border-radius: 0 4px 4px 0;
  border-right: solid 1px #ccc;
}

.btn-switcher:hover {
  background: #fff;
}

.btn-switcher:active {
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.btn-switcher.selected {
  background: #fff;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: default;
}

.button-group-heavy .btn-switcher:active {
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.button-group-heavy .btn-switcher.selected {
  background: #1E44D5;
  border-color: #0F5496;
  color: #fff;
  cursor: default;
  box-shadow: none;
}

.btn-switcher svg {
  fill: #aaa;
}

.btn-switcher.selected svg {
  fill: #0289FF;
}

.btn-switcher span {
  margin-left: -4px;
}

.solouncheck .btn-switcher span {
  display: none;
}

.solouncheck .btn-switcher.selected span {
  display: inline-block;
}


